language: node_js
node_js:
  - '0.10'
  - '0.12'
  - 'iojs'
before_install:
  - "mkdir -p ~/.npm"
install:
  - sudo apt-get install --force-yes libbluetooth-dev
  - npm install
  - npm install git://github.com/hybridgroup/cylon.git
  - npm install -g jshint istanbul codeclimate-test-reporter
script:
  - make ci
  - CODECLIMATE_REPO_TOKEN=8a387fb36fce237d7c5583c536c33465ea5e963e0ed2098935760353c10cddfb codeclimate < coverage/lcov.info
